@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Aframuz Ski House is the premier ski hill in Northesast!</a>.</p>
</div>
